.well-known/
backup-2019/
cgi-bin/
images/
wp-admin/
wp-includes/
cache/
mu-plugins/
plugins/
updraft/
upgrade/
uploads/
w3tc-config/
wflogs/
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/advanced-cache.php
wp-content/index.php
wp-content/install.php
wp-content/wp-cache-config.php

/*.php
/*.txt
/*.html
/*.yml
/*.shtml

.ftpquota
.htaccess
error_log

wp-content/themes/resort/node_modules/