

.rpwe {

    &-block a{

        font-size: 16px !important;
    }
    &-title {
        a {
            font-size: 16px;
        }
    }
}

.exp {
    
    &-container {
        display: flex;
        flex-direction: row;
    }
}

body {
    margin: 0;
}

#page-content h2 {
    margin-top: 0;
}

@import './navigation.scss';